{{ $genre := "" }}
{{ with .Params.genre }}
{{ $genre = delimit . ", " }}
{{ end }}

{{ if $genre }}
<div>{{ (i18n "genre") }}: <strong>{{ $genre }}</strong></div>
{{ end }}

{{ if $genre }}
<div>{{ (i18n "no_of_tracks") }}:  <strong>{{ .Params.num_tracks }}</strong></div>
{{ end }}

<div>Artists: 
  {{ range $index, $el := .Params.artists }} 
  {{ $artist_page := $.GetPage .file_path }}
  {{ if ne $index 0 }} & {{ end }}<a href="{{ $artist_page.RelPermalink }}">{{ $artist_page.Title }}</a>
  {{ end }}
</div>