{{ define "main" }}
{{ $s := newScratch }}

{{ $genre := "" }}
{{ with .Params.genre }}
{{ $genre = delimit . ", " }}
{{ end }}

{{ $s.Set "links" slice }}
{{ $s.Add "links" (dict "title" "Deezer" "url" .Params.deezer "icon" `<img class="img-fluid w-100" src="/img/deezer-logo.svg" />`) }}
{{ $s.Add "links" (dict "title" "Amazon" "url" .Params.amazon "icon" `<i class="fab fa-amazon"></i>`) }}
{{ $s.Add "links" (dict "title" "Spotify" "url" .Params.spotify "icon" `<i class="fab fa-spotify"></i>`) }}
{{ $s.Add "links" (dict "title" "Google Play" "url" .Params.google_play "icon" `<i class="fab fa-google-play"></i>`) }}
{{ $s.Add "links" (dict "title" "Tidal" "url" .Params.tidal "icon" `<img class="img-fluid w-100" src="/img/tidal-logo.svg" />`) }}
{{ $s.Add "links" (dict "title" "Youtube" "url" .Params.youtube_topic "icon" `<i class="fab fa-youtube"></i>`) }}
{{ $s.Add "links" (dict "title" "Soundcloud" "url" .Params.soundcloud_album "icon" `<i class="fab fa-soundcloud"></i>`) }}
{{ $s.Add "links" (dict "title" "Bandcamp" "url" .Params.bandcamp "icon" `<i class="fab fa-bandcamp"></i>`) }}
{{ $s.Add "links" (dict "title" "Musicbrainz" "url" .Params.musicbrainz "icon" `<img class="img-fluid w-100" src="/img/musicbrainz-logo.svg" />`) }}

{{ $s.Set "specs" slice }}
{{ if .Params.release_date }}
{{ $s.Add "specs" (dict "key" (i18n "official_release_date") "value" (dateFormat "02 January 2006" .Params.release_date)) }}
{{ end }}
{{ $s.Add "specs" (dict "key" (i18n "music_label") "value" .Params.label) }}
{{/*
{{ $s.Add "specs" (dict "key" (i18n "publisher") "value" .Params.publisher) }}
*/}}
{{ $s.Add "specs" (dict "key" (i18n "genre") "value" $genre) }}
{{ $s.Add "specs" (dict "key" (i18n "no_of_tracks") "value" .Params.num_tracks) }}
{{ $s.Add "specs" (dict "key" "UPC" "value" .Params.upc) }}

{{ partial "single-hero" . }}

{{/*
<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <p>{{ .Params.comments }}</p>
      </div>
    </div>
  </div>
</section>
*/}}

{{ partial "single-specs" (dict "items" ($s.Get "specs")) }}

<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ (i18n "tracks" .) }}</h2>
      </div>
      <div class="col-md-12">
        {{ if not .Params.tracks }}
        {{ i18n "no_data"}}
        {{ else }}
        <ul>
          {{ range .Params.tracks }}
          <li>
            <strong>{{ .name }}</strong>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>{{ (i18n "artists" .) }}</h2>
      </div>
    </div>
    <div class="row">
      {{ range .Params.artists }}
      <div class="col-md-2">
        {{ partial "person-block" (dict "ctx" $ "id" .id) }}
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="py-4">
  <div class="container">

    <div class="row">
      <div class="col-md-12 mb-3">
        <h2>{{ (i18n "links" .) }}</h2>
      </div>
    </div>

    <div class="row">
      {{ range (($s.Get "links")) }}
      {{ $title := .title }}
      {{ $icon := .icon }}
      {{ if .url }}
      <div class="col-md-2">
        <a class="shadow-block p-4 d-flex flex-column text-center" target="_blank" rel="noopener" href="{{ .url }}">
          <div class="m-auto" style="width: 40px; font-size: 40px; color: #000;">{{ $icon | safeHTML }}</div>
          <h5 class="font-weight-bold">{{ $title }}</h5>
        </a>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}