/resources/
/public/
.DS_Store
*~
*#
.#*

node_modules

data/gen
assets/gen

content/records/*
content/artists/*
content/publishing/*
content/events/*
content/projects/*
content/videos/*
content/texts/*
content/drawings/*
content/photos/*
content/pictures/*

!content/*/_index*md