{{ if .Params.description }}
<div>{{ .Params.description }}</div>
{{ end }}

{{ with .Params.tags }}
<div>{{ i18n "tags" }}:
    {{ range $index, $el := $.Params.tags -}}
    {{- $tag_page := $.GetPage (printf "/tags/%s" $el) -}}
    {{ if ne $index 0 }}, {{ end }}<a href="{{ $tag_page.RelPermalink }}">{{ $tag_page.Title }}</a>
    {{- end }}
</div>
{{ end }}

{{ with .Params.authors }}
<div>{{ i18n "authors" }}:
    {{ range $index, $el := $.Params.authors }}
    {{- $author_page := $.GetPage .file_path -}}
    {{ if ne $index 0 }}, {{ end }}<a href="{{ $author_page.RelPermalink }}">{{ $author_page.Title }}</a>
    {{- end }}
</div>
{{ end }}
