{{ define "main" }}
{{ $s := newScratch }}
{{ $s.Set "specs" slice }}
{{ $s.Add "specs" (dict "key" (i18n "release_date") "value" .Params.release_date) }}
{{ $s.Add "specs" (dict "key" "ASIN" "value" .Params.asin) }}
{{ $s.Add "specs" (dict "key" "ISBN10" "value" .Params.isbn10) }}
{{ $s.Add "specs" (dict "key" "ISBN13" "value" .Params.isbn13) }}
{{ $s.Add "specs" (dict "key" (i18n "amazon_link") "value" .Params.amazon_link "is_link" true) }}

{{ partial "single-hero" . }}

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <p>{{ .Params.notes }}</p>
      </div>
    </div>
  </div>
</section>

{{ partial "single-specs" (dict "items" ($s.Get "specs")) }}
{{ partial "list-relation-pages" (dict "ctx" . "title" (i18n "authors" .) "pages" .Params.authors) }}

{{ end }}
