{{ define "main" }}
<h2><a href="https://www.twitch.tv/radio_chaos">Twitch</a></h2>
<iframe
    src="https://player.twitch.tv/?channel=radio_chaos&parent=ultre.me&muted=true"
    height="600"
    width="100%"
    frameborder="0"
    scrolling="yes"
    allowfullscreen="true">
</iframe>
<h2><a href="https://www.youtube.com/channel/UCUePlKDhs2bLqV0yP-CITpQ/live">YouTube Live</a></h2>
<iframe
    src="https://www.youtube.com/embed/live_stream?channel=UCUePlKDhs2bLqV0yP-CITpQ"
    height="600"
    width="100%"
    frameborder="0"
    scrolling="yes"
    allowfullscreen="true">
</iframe>
<h2><a href="https://dlive.tv/ultreme">DLive</a></h2>
Iframe coming soon
{{ end }}
