* {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.list-item {
  transition: .2s all ease-in-out;
  margin-bottom: 25px;
}
.list-item:hover {
  transform: translateY(-5px);
}
.list-item a {
  color: #000;
}
.list-item a:hover {
  text-decoration: none;
}
.list-item .list-item-inner {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(171, 174, 209, 0.3);
  overflow: hidden;
  height: 100%;
}
.list-item .list-item-inner > a {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.list-item .list-item-image img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.list-item .title {
  margin-bottom: 5px;
}
.list-item .list-item-info {
  padding: 15px;
  padding-top: 0;
  color: grey;
}
.list-item .list-item-info strong {
  color: #000;
}
.list-item .list-item-info a {
  color: blue;
}
.list-item .list-item-info a:hover {
  text-decoration: underline;
}
