<section class="pb-4 pt-0">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <a href="{{ .Parent.RelPermalink }}">
            << {{ i18n "showall" (dict "entity" (i18n (.Params.from_table | lower))) }}
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 class="mb-0 mt-3" style="font-size: 20px; color: grey;">
          {{ i18n (.Params.from_table | lower) | title }}
        </h3>
        <h1 class="font-weight-bold">{{ .Title }}</h1>
      </div>
    </div>

    <div class="row">
      {{ range .Params.artwork }}
      <div class="col-md-3 col-sm-6 mb-3">
        <div class="img-block">
          <a href="{{ (resources.Get .local).RelPermalink }}">
            <img src="{{ ((resources.Get .local).Resize `700x jpg`).RelPermalink }}">
          </a>
        </div>
      </div>
      {{ end }}
    </div>

  </div>
</section>
