{{ $at := index .ctx.Site.Data.gen (print "airtable_" .ctx.Lang) }}
{{ $page := $.ctx.GetPage (index $at .id).file_path }}

{{ $image := "" }}
{{ with $page.Params.artwork }}
{{ $image = (index . 0) }}
{{ end }}

"@context": "https://schema.org",
"@type": "Book",

"author": [
  {{ range $index, $el := $page.Params.authors }}
  {{ if ne $index 0 }},{{ end }}
  {
    {{ partial "ldjson/person-inner" (dict "ctx" $.ctx "id" .id) }}
  }
  {{ end }}
],

{{ with $image }}
"image": "{{ (resources.Get .local).Permalink }}",
{{ end }}

"sameAs": [
  {{ with .Params.amazon_link }}
  "{{ . }}"
  {{ end }}
],

"isbn": "{{ $page.Params.isbn10 }}",
"name": "{{ $page.Title }}",
"publisher": "", <!-- FIXME: -->
"bookFormat": "http://schema.org/Hardcover", <!-- FIXME: -->
"datePublished": "{{ $page.Params.release_date }}"
