{{ define "head" }}
{{ partial "ldjson/event" (dict "ctx" . "id" .Params.id) }}
{{ end }}

{{ define "main" }}

{{ $kind := "" }}
{{ with .Params.kind }}
{{ $kind = delimit . ", " }}
{{ end }}

{{ $s := newScratch }}
{{ $s.Set "specs" slice }}
{{ if .Params.event_start_date }}
{{ $s.Add "specs" (dict "key" (i18n "event_start_date") "value" (dateFormat "02 January 2006" .Params.event_start_date)) }}
{{ end }}
{{ if .Params.event_end_date }}
{{ $s.Add "specs" (dict "key" (i18n "event_end_date") "value" (dateFormat "02 January 2006" .Params.event_end_date)) }}
{{ end }}
{{ $s.Add "specs" (dict "key" (i18n "kind") "value" $kind) }}
{{ $s.Add "specs" (dict "key" (i18n "official_event_page") "value" .Params.official_event_page "is_link" true) }}
{{ $s.Add "specs" (dict "key" "Mixcloud" "value" .Params.mixcloud "is_link" true) }}
{{ $s.Add "specs" (dict "key" (i18n "location") "value" .Params.location) }}

{{ partial "single-hero" . }}

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <p>{{ .Params.description }}</p>
      </div>
    </div>
  </div>
</section>

{{ partial "single-specs" (dict "items" ($s.Get "specs")) }}
{{ partial "list-relation-pages" (dict "ctx" . "title" (i18n "artists" .) "pages" .Params.artists) }}

{{ end }}
