{{ define "main" }}
{{ $s := newScratch }}

{{ $genre := "" }}
{{ with .Params.genre }}
{{ $genre = delimit . ", " }}
{{ end }}

{{ $s.Set "links" slice }}
{{ $s.Add "links" (dict "title" "Youtube" "url" .Params.youtube_url "icon" `<i class="fab fa-youtube"></i>`) }}

{{ $s.Set "specs" slice }}
{{ if .Params.release_date }}
{{ $s.Add "specs" (dict "key" (i18n "release_date") "value" (dateFormat "02 January 2006" .Params.release_date)) }}
{{ end }}
{{/*
{{ $s.Add "specs" (dict "key" (i18n "publisher") "value" .Params.publisher) }}
*/}}
{{ $s.Add "specs" (dict "key" (i18n "music_label") "value" .Params.label) }}

{{ partial "single-hero" . }}

{{/*
<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <p>{{ .Params.comments }}</p>
      </div>
    </div>
  </div>
</section>
*/}}

{{ partial "single-specs" (dict "items" ($s.Get "specs")) }}

{{ with .Params.tags }}
<section>
    <div class="container">
        <div class="row">
            {{ range $index, $el := $.Params.tags}}
            {{ $tag_page := $.GetPage (printf "/tags/%s" $el) }}
            <a class="badge badge-primary mx-1" href="{{ $tag_page.RelPermalink }}">{{ $tag_page.Title }}</a>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}

<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ (i18n "tracks" .) }}</h2>
      </div>
      <div class="col-md-12">
        {{ if not .Params.tracks }}
        {{ i18n "no_data"}}
        {{ else }}
        <ul>
          {{ range .Params.tracks }}
          <li>
            <strong>{{ .name }}</strong>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>{{ (i18n "artists" .) }}</h2>
      </div>
    </div>
    <div class="row">
      {{ range .Params.artists }}
      <div class="col-md-3 col-sm-6">
        {{ partial "person-block" (dict "ctx" $ "id" .id) }}
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="py-4">
    <div class="container">

        <div class="row">
            <div class="col-md-12 mb-3">
                <h2>{{ (i18n "links" .) }}</h2>
            </div>
        </div>

        <div class="row">
            {{ range (($s.Get "links")) }}
            {{ $title := .title }}
            {{ $icon := .icon }}
            {{ if .url }}
            <div class="col-md-2 col-6 mb-3">
                <a class="shadow-block p-4 d-flex flex-column text-center" target="_blank" rel="noopener" href="{{ .url }}">
                    <div class="m-auto" style="width: 40px; font-size: 40px; color: #000;">{{ $icon | safeHTML }}</div>
                    <h5 class="font-weight-bold">{{ $title }}</h5>
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
