{{ define "main" }}
{{ $s := newScratch }}

{{ partial "single-hero" . }}

{{ $s.Set "links" slice }}
{{ $s.Add "links" (dict "title" "Youtube" "url" .Params.youtube_topic "icon" `<i class="fab fa-youtube"></i>`) }}
{{ $s.Add "links" (dict "title" "Soundcloud" "url" .Params.soundcloud_url "icon" `<i class="fab fa-soundcloud"></i>`) }}

{{ $s.Set "specs" slice }}
{{ $s.Add "specs" (dict "key" "Date" "value" (dateFormat "02 January 2006" .Params.date)) }}


{{ with .Description }}
<section>
    <div class="container">
        <div class="row">
            {{. | markdownify}}
        </div>
    </div>
</section>
{{ end }}

{{ with .Params.soundcloud_track_id }}
<section class="py-4">
    <div class="container">
        <div class="row">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{.}}{{with $.Params.soundcloud_track_secret_token}}%3Fsecret_token%3D{{.}}{{end}}&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></iframe>
        </div>
    </div>
</section>
{{ end }}

{{ partial "single-specs" (dict "items" ($s.Get "specs")) }}


<section>
    <div class="container">
        <div class="row">
            <h2>Challenge</h2>
        </div>
        <div class="row">
            <ul>
                {{range .Params.project}}
                {{ $page := $.GetPage .file_path }}
                <li><b>Project:</b> <a href="{{$page.RelPermalink}}">{{.name}}</a></li>
                {{end}}
                {{range .Params.challenge}}
                {{ $page := $.GetPage .file_path }}
                <li><b>Challenge:</b> <a href="{{$page.RelPermalink}}">{{.name}}</a></li>
                {{end}}
            </ul>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <h2>{{ (i18n "artists" .) }}</h2>
        </div>
        <div class="row">
            {{ range .Params.artists }}
            <div class="col-md-3 col-sm-6">
                {{ partial "person-block" (dict "ctx" $ "id" .id) }}
            </div>
            {{ end }}
        </div>
    </div>
</section>

<section class="py-4">
    <div class="container">

        <div class="row">
            <div class="col-md-12 mb-3">
                <h2>{{ (i18n "links" .) }}</h2>
            </div>
        </div>

        <div class="row">
            {{ range (($s.Get "links")) }}
            {{ $title := .title }}
            {{ $icon := .icon }}
            {{ if .url }}
            <div class="col-md-3 col-6 mb-3">
                <a class="shadow-block p-4 d-flex flex-column text-center" target="_blank" rel="noopener" href="{{ .url }}">
                    <div class="m-auto" style="width: 40px; font-size: 40px; color: #000;">{{ $icon | safeHTML }}</div>
                    <h5 class="font-weight-bold">{{ $title }}</h5>
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
