{{ $image := $.Site.Params.defaultThumbnailImage }}
{{ if .Params.artwork }}
{{ $image = (index .Params.artwork 0).local }}
{{ end }}

<div class="col-md-6 col-lg-4 col-sm-12 list-item">
    <div class="list-item-inner">
        <a href="{{ .RelPermalink }}">
            <div class="list-item-image">
                <img class="img-fluid" src="{{ ((resources.Get $image).Resize `600x jpg`).RelPermalink }}" />
            </div>
        </a>
        <div class="list-item-info">
            {{ $genre := "" }}
            {{ with .Params.genre }}
            {{ $genre = delimit . ", " }}
            {{ end }}

            {{ if .Params.release_date }}
            <div>{{ (i18n "genre") }}: <strong>{{ dateFormat "02 January 2006" .Params.release_date }}</strong></div>
            {{ end }}

            {{ if $genre }}
            <div>{{ (i18n "genre") }}: <strong>{{ $genre }}</strong></div>
            {{ end }}

            {{ if .Params.num_tracks }}
            <div>{{ (i18n "no_of_tracks") }}:  <strong>{{ .Params.num_tracks }}</strong></div>
            {{ end }}

            <div>
                {{ range $index, $el := .Params.artists }}
                {{ $artist_page := $.GetPage .file_path }}
                {{ if ne $index 0 }} & {{ end }}<a href="{{ $artist_page.RelPermalink }}">{{ $artist_page.Title }}</a>
                {{ end }}
            </div>
        </div>
    </div>
</div>
